  /*screen 1200px*/
  @media screen and (max-width: 1200px){
  #ourservice .home_ourservice_preview .video {
    width: 527px !important;  
  }
  #ourservice .home_ourservice_preview {
    left: 80px !important;
  }
  #ourservice .home_ourservice_ourmessage {
      left: 159px !important;
  }
  #ourservice .home_ourservice_ourmessage .message-1 {
     font-size: 35px !important; 
  }

  #ourservice .home_ourservice_ourmessage .message-2 {
     font-size: 30px !important; 
  }
  /*vr360tour*/
  #header #home_header_top-header .vr-360 #carousel-VR360 {
    margin-left: -80px !important;
  }
}
    /*screen 1000px*/
  @media screen and (max-width: 1000px){
  #ourservice .home_ourservice_ourmessage {
      left: 119px !important;
  }
  #ourservice h3.our-client-title, h3.roles-title {
      font-size: 15px !important;
      padding: 74px 0px !important;
  }
  #ourservice .home_ourservice_ourmessage .message-1 {
     font-size: 35px !important; 
  }

  #ourservice .home_ourservice_ourmessage .message-2 {
     font-size: 20px !important; 
  }
  #ourservice .home_ourservice_preview {
    left: 60px !important;
  }
  #ourservice .home_ourservice_preview .video {
      width: 325px !important;
  }
  #ourservice .home_ourservice_preview .info-video {
      width: 280px !important;
  }
  .home_footer_send-mail {
    padding-top: 17px !important;
    padding-bottom: 20px !important;
  }
  /*vr360tour*/
  #header #home_header_top-header .vr-360 #carousel-VR360 .carousel-caption {
    text-align: center !important;
    left: 0 !important;
    width: 100% !important;
  }
  #header #home_header_top-header .vr-360 #carousel-VR360 {
    margin-left: -40px !important;
  }
  section#vr360tour-our-services .content {
    padding: 50px 60px !important;
  }
  section#vr360tour-our-services .content .info-service {
    width: 49% !important;
  }
  section#vr360tour-our-portfolio .content ul.social-icon {
    width: 36% !important;
  }
  section#vr360tour-our-portfolio .content .our-portfolio .list #seemore, section#vr360tour-our-portfolio .content .our-portfolio .list .item {
    font-size: 50px !important;
  }
}
/*===============================================Galaxy===============================*/
@media screen and   (min-width: 576px) and (max-width: 1000px)
{
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
  .home_footer_info {
    padding: 20px 0px 10px 0px !important;
   }
   ul.social-icon li.list-inline.list-inline-item {
    margin-bottom: 6px !important
    }
}
/*Screen 800px*/
@media screen and (max-width: 800px){
  #ourservice .home_ourservice_ourmessage .message-1 {
       font-size: 30px !important; 
  }

  #ourservice .home_ourservice_ourmessage .message-2 {
     font-size: 20px !important; 
  }
  #about-post .home_about-post_post h3.title {
    font-size: 2rem !important;
  }
}
/*Screen 768px*/
@media screen and (max-width: 768px){
    #ourservice .home_ourservice_ourmessage .message-1 {
        display: none;
    }

    #ourservice .home_ourservice_ourmessage .message-2 {
         display: none;
    }
    #ourservice .home_ourservice_preview .info-video{
        display: none !important;
    }
    #ourservice ul.roles.list-unstyled {
        padding-top: 73px !important;
    }
    #home_hottest-blog_carousel .carousel-control-prev,#home_hottest-blog_carousel .carousel-control-next{
      display: none !important;
    }
    #ourservice .home_ourservice_preview .video {
    width: 365px !important;
    }
}
/*Screen 576px*/
@media screen and (max-width: 576px){
    .fa-2x {
      font-size: 1.7rem !important;
  }
   #copy-right .address{
        padding-top: 0px !important;
   }
   #copy-right .logo-footer {
    width: 16% !important;
   }
   .home_ourservice_top-ourservice span.download{
    font-size: 11px;
   }
   /*vr360tour*/
   #header #home_header_top-header .vr-360 .vr-360-title {
    padding: 25px 70px !important;
  }
  #header #home_header_top-header .vr-360 #main-menu {
    left: -25px !important;
  }
  #header #home_header_top-header .vr-360 #carousel-VR360 {
    margin-left: 0px !important;
  }
  #header #home_header_top-header .vr-360 #carousel-VR360 .carousel-item {
    height: 200px !important;
  }
  #header #home_header_top-header .vr-360 #carousel-VR360 .carousel-caption>h5 {
    font-size: 20px !important;
    font-weight: 600;
    padding: 20px 40px;
  }
  #header #home_header_top-header .vr-360 #carousel-VR360 .carousel-caption>p {
    display: none !important;
  }
  section#vr360tour-our-services .content h2.title {
    font-size: 35px !important;
    margin-top: -9px !important;
  }
  section#vr360tour-our-services .content {
    padding: 50px 15px !important;
  }
  section#vr360tour-our-portfolio .content h2.title {
    font-size: 35px !important;
  }
  section#vr360tour-our-portfolio .content .our-portfolio .list .item {
    font-size: 30px !important;
  }
} 

/*Screen 480px*/
@media screen and (max-width: 480px){
      .fa-2x {
        font-size: 1.3rem !important;
    }
   .home_ourservice_top-ourservice span.download>strong{
      display: none;
   }
   #ourservice .home_ourservice_preview {
    left: 20px !important ;
   }
   #ourservice .home_ourservice_preview .video {
    width: 268px !important;
   }
   #home_hottest-blog_carousel {
    margin-left: -15px !important;
    margin-right: -15px !important;
   }
  .get-quote-now svg {
    margin-left: 4rem;
    margin-top: -3rem;
   }
   .home_footer_info {
    padding: 40px 0px 40px 0px !important;
  }
  .home_footer_info>h3 {
    font-size: 2rem !important;
  }
  /*vr360tour*/
  #header #home_header_top-header .vr-360 .vr-360-title {
    padding: 25px 18px !important;
  }
  #header #home_header_top-header .vr-360 .more-info {
    padding: 18px 0px !important;
  }
  section#vr360tour-our-services .content .info-service {
    width: 100% !important;
    clear: both !important;
    margin-bottom: 20px !important;
  }
  section#vr360tour-our-portfolio .content ul.social-icon {
    width: 100% !important;
 }
 section#vr360tour-our-portfolio .content .our-portfolio .list .item {
    font-size: 20px !important;
  }
}