*{
	padding: 0;
	margin:0;
}
img{
	max-width: 100%;
	height: auto;
}
a{
	text-decoration: none;
	color:black;
}
a:hover, a:focus{
	text-decoration: none;
    color: black;
}
hr{
	margin-top: 0;
}
body{
	font-family: Arial, serif;
	font-size: 16px;
	line-height: 1.5
}
/*==========================================Header==================================================*/
/*==================================================================================================*/
#header #home_header_top-header nav#main-menu{
	background: #6AE4FB ;  
}
#header #home_header_top-header nav#main-menu a.navbar-brand,button{
    margin-left: 30px !important;  
    margin-right: 30px !important;
}
#header #home_header_top-header #language{
	text-align: right;
	padding: 5px 10px;
	border-bottom: 2px solid #bfc0c2;
}
#header #home_header_top-header #language a{
	font-size: 14px;
}
#header #home_header_top-header #language a.choose-lang{
	color: #6432D3;
	font-weight: bold;
}
/*================================================Our Service=======================================*/
/*====================================================================================================*/
.border-right{
	border-right: 1px solid  #ededef;
}
.home_ourservice_top-ourservice .border-bottom{
	border-bottom: 2px solid  #9b9b9b !important;
}
#ourservice ul#main-menu li {
    transform: rotate(-90deg);
    margin-bottom: 60px;
    margin-top: 60px;
}
#ourservice ul#main-menu li a {
    padding: 2px 7px;
    background: #6AE4FD;
}
#ourservice ul#main-menu li:last-child {
    list-style: none;
}
#ourservice h3.our-client-title,h3.roles-title {
	font-size: 18px;
    text-align: left;
    padding: 74px 10px;
    font-weight: bold;
}
#ourservice ul.our-client.list-unstyled li {
    padding-top: 95px;
}
#ourservice h3.roles-title{
    padding-top: 96px;
}
#ourservice ul.roles.list-unstyled {
    padding-top: 96px;
}
#ourservice a.btn.btn-outline-dark {
    border-radius: unset;
    margin-top: 90px;   
}
#ourservice .container {
    position: relative;
}

#ourservice .home_ourservice_ourmessage {
    position: absolute;
    bottom: 445px;
    left: 211px;
    width: 42%;
}

#ourservice .home_ourservice_ourmessage .message-1 {
    font-size: 51px;
    font-weight: 600;
    line-height: 1.2;
}

#ourservice .home_ourservice_ourmessage .message-2 {
    color: #80D5E4;
    font-size: 22px;
    margin-left: -20px;	   
}
#ourservice .home_ourservice_ourmessage .message-2 p{
	 background: #020204;
	 margin-bottom: 10px;
	 padding: 5px 20px;
	 display: inline-block;
}
#ourservice .home_ourservice_preview{
	position: absolute;
	bottom: 80px;
	left: 107px;
}
#ourservice .home_ourservice_preview .video, #ourservice .home_ourservice_preview .info-video {
    background: #6ae4fb;
    text-align: center;
    font-size: 50px;
    width: 630px;
    height: 300px;
    display: block;
    float: left;
}
#ourservice .home_ourservice_preview .video h3.video-title,#ourservice .home_ourservice_preview .info-video h3.info-video-title {
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 40px;
    margin-top: 20px;
}
#ourservice .home_ourservice_preview .info-video h3.info-video-title{
	margin-bottom: 16px;
}
#ourservice .home_ourservice_preview .info-video{
	width: 320px;
    font-size: 16px;
    text-align: center;
    margin-left: 30px;

}
#ourservice .home_ourservice_preview  .info-video h3.info-video-title, #ourservice .home_ourservice_preview  .info-video p{
   text-align: left;
   display: inline-block;
   margin-top: 15px;
}
#ourservice .home_ourservice_preview p{
   margin-left: -43px;
}
/*=============================================about-post=========================================*/
/*================================================================================================*/
#about-post .home_about-post_post {
    margin-top: 30px;
}   
#about-post .home_about-post_post h3.title {
    font-size: 3rem;
}
/*footer about post*/
#nextback a {
    font-size: 50px;
}
#nextback a.back {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
    color: white;
}
#nextback {
    margin-top: 30px;
    font-size: 50px;
}

#nextback a.back+i {    
    color: #1100000a;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
}
/*paralax*/
/*.bg{
  background: url(../images/bg1.jpg) right no-repeat;
    width: 100%;
    height: 523px;
    position: fixed;
    right: 364px;
    z-index: -1;
    background-size: 100px;
}*/
/*=======================================================Galaxy====================================*/
/*==================================================================================================*/
#galaxy .container, #hottest-blog .container{
    background: #ededed;
    border-top: 4px solid #b0a8a8;
    border-bottom: 4px solid #b0a8a8;
}
.home_galaxy_title.text-center h3 ,.home_hottest-blog_title h3{
    padding: 30px;
    font-weight: 700;
    font-size: 40px;
}
.home_galaxy_content.card-columns h4.card-title {
    font-weight: 600;
    font-size: 2rem;    
}
.home_galaxy_content.card-columns .card:hover {
    box-shadow: 12px 20px 18px #736f6f;
    cursor: pointer;
}
.home_galaxy_content .card .card-body p.card-subtitle {
    margin-bottom: 2rem;
}
.home_galaxy_see-more h3,.home_galaxy_see-more h3>i {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
    color: white;
    font-size: 50px;
    padding-bottom: 20px;
}
/*model galaxy*/
.home_galaxy_content .modal{
    top: 65px;
}
.home_galaxy_content #modalGalaxy .modal-header{
    padding: 0;
}
.home_galaxy_content #modalGalaxy .modal-content{
    border: 0;
}
.home_galaxy_content #modalGalaxy .modal-content button.close {
    position: absolute;
    right: -74px;
    font-size: 30px;
    color: white;
    opacity: 1;
    top: -17px;
}
.home_galaxy_content #modalGalaxy .modal-content .modal-body {
    background: black;
    color: white;
    padding: 50px;
    min-height: 400px;
}
.home_galaxy_content #modalGalaxy .modal-content .modal-body .modal-title {
    padding: 15px 0px;
}
.home_galaxy_content #modalGalaxy .modal-content .modal-body .more-detail a {
    background: #6be3fb;
    font-weight: 700;
    padding: 12px;
    display: inline-block;
}

.home_galaxy_content #modalGalaxy .modal-content .modal-body .more-detail {
    text-align: center;
    padding: 15px;
}
/*==============================================Hottest Blog===================================*/
/*===============================================================================================*/
hr.home_hottest-blog_break-line{
  margin-left: -15px;
  margin-right: -15px;
  background: gray;
  height: 1px;
}
#home_hottest-blog_carousel .hostest-blog .meta-video span>hr {
    width: 52%!important;
    display: inline-block;
    background: black;
    border: 1px solid;
    margin-bottom: 4px;
}

#home_hottest-blog_carousel .hostest-blog span.video-view>i {
    font-size: 15px;
}

#home_hottest-blog_carousel .hostest-blog .decription-video h3.video-tag {
    color: #6ae4fb;
}

#home_hottest-blog_carousel .hostest-blog .decription-video h3.title-video {
    font-weight: 600;
    font-size: 1.5rem;
}
/*================================================Top footer==============================*/
/*========================================================================================*/
#top-footer .container ,#footer .container, #copy-right .container{
 background: #ededed;
 border-bottom: 2px solid #b0a8a8;
}
#top-footer .container .row{
    background: url(../images/quote.jpg) no-repeat ;
    background-size: cover;
}

.home_top-footer_title h3 {
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 0;
    color: #fff;
    padding-left: 39px;
}

.home_top-footer_interested,.home_top-footer_quote {
    margin-top: 35px;
    margin-left: 27px;
}
.home_top-footer_interested>a {
    padding: 3px;
    margin-bottom: 4px;
    display: inline-block;
    border: 1px solid #9a8b97;
    margin-left: 10px;
}
.home_top-footer_quote form>input {
    border: 2px solid #000;
    border-radius: 0px;
}

.get-quote-now {
    color: #fffcfc;
    margin-top: 15px;
    /* font-size: 23px; */
}

.get-quote-now h3 {
    font-size: 40px;
}
.get-quote-now svg {
    margin-left: 7rem;
    margin-top: -3rem;
}
/*/*========================================Footer=====================================*/
/*=====================================================================================*/
.home_footer_info {
    padding: 70px 0px 40px 120px;   
}

.home_footer_info>h3 {
    color: #4e169b;
    font-weight: 700;
    font-size: 43px;
}

.home_footer_info .phone {
 font-weight: 600;
 font-size: 25px;
 margin-bottom: 0;
 text-align: center;
}
.home_footer_send-mail {
    padding-top: 56px;
}   
.home_footer_send-mail form input{
    border: 2px solid black;
}
.home_footer_send-mail ul.social-icon li{
    margin-right: 0;
}
#copy-right .address {
    padding-left: 37px;
    padding-top: 30px;
}

#copy-right .logo-footer {
    position: relative;
    top: -12px;
    left: 21px;
    width: 11%;
}
#copy-right .container{
    border-bottom: none;
}
